@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  background-color: #e2e2e2;
  color: #40434e;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  color: #629460;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #ec9f05;
}

a:hover {
  color: #d7263d;
}

.card {
  background: #eaebf0;
  padding: 20px;
  margin: 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.img-circle {
  width: 120px;
  border-radius: 50%;
}

.button-primary {
  background-color: #40434e;
  padding: 10px 15px;
  border-radius: 2px;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  font-size: 2em;
  margin: 5px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .container {
    width: 380px;
    margin: 0 auto;
  }
}
