.list-inline {
  list-style: none;
  padding-left: 0;
  padding-top: 1em;
  margin-top: 0;
}

.list-inline > li {
  font-size: 1.6em;
  display: inline-block;
  margin-left: 2em;
}

.list-inline i {
  color: whitesmoke;
}
